@model IdentityUser

@{
    ViewData["Title"] = "Delete";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />   
</head>
<h2>Delete User</h2>

<h4>Are You Sure You Want To Delete This User? </h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>      
    </dl>  
 

    <form asp-action="Delete">
        @if (User.IsInRole("Administrator"))
        {
            <input type="hidden" asp-for="UserName" />
            <input type="submit" value="Delete" class="btn btn-default" /> <i> | </i>
            <a asp-action="List">Back to List</a>
        }
        else
        {
            <input type="hidden" asp-for="UserName" />
            <input type="submit" value="Delete" class="btn btn-default" /> 
        }

    </form>
</div>
