@model MovieLand.Models.Movie

@{
    ViewData["Title"] = "Create Game";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />   
</head>
<!--if game id already exists-->
@if (this.ViewBag.Error3 != null)
{
    <h2>Game ID already exists!</h2>
}
<h2>Create Game</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="movieID" class="control-label"></label>
                <input asp-for="movieID" class="form-control" />
                <span asp-validation-for="movieID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="movieName" class="control-label"></label>
                <input asp-for="movieName" class="form-control" />
                <span asp-validation-for="movieName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="director" class="control-label"></label>
                <input asp-for="director" class="form-control" />
                <span asp-validation-for="director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="genre" class="control-label"></label>
                <input asp-for="genre" class="form-control" />
                <span asp-validation-for="genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trailerID" class="control-label"></label>
                <input asp-for="trailerID" class="form-control" />
                <span asp-validation-for="trailerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
