
@{
    ViewData["Title"] = "Statistics";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />   
</head>
<h2>Orders</h2>

<br />

<input type="radio" name="colorRadio" value="group"> group
<input type="radio" name="colorRadio" value="join"> join

<div id="group" hidden>
    

    <div class="form-actions no-color">
        <p>
            <br /><br />
            <!--group by ~option~: populating the drop down list dynamicaly-->
            @Html.DropDownList("group", new SelectList(ViewBag.group, "Grouped"), "Select Option")
            |
            <a asp-action="Statistics">Clear</a>
        </p>
    </div>


    <div id="groupOutput">
        <table class="table">
            <thead>              
            </thead>
            <tbody>                
            </tbody>
        </table>
    </div>   
</div>


<div id="join" hidden>

    
    <div class="form-actions no-color">
        <p>
            <br /><br />
            <!--join with ~option~: populating the drop down list dynamicaly-->
            @Html.DropDownList("join", new SelectList(ViewBag.join, "Joined"), "Select Option")
            |
            <a asp-action="Statistics">Clear</a>
        </p>
    </div>
    


    <table class="table">
        <thead>                    
        </thead>
        <tbody>            
        </tbody>
    </table>
</div>

@section Scripts
{

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
               
        // this handles which option to show based on radio button
        var groupDiv = $("#group");
        var joinDiv = $("#join");
        $(document).ready(function () {

            // show only group div if group is chosen
            $('input[type="radio"]').click(function () {
                var radioVal = this.value;
                $('tbody').html(null);

                if (radioVal === "group") {
                    joinDiv.hide();
                    groupDiv.show();

                    // this sends a get with slected drop down value
                    $("select[id^='group']").change(function () {
                        
                        var sentData = $('option:selected', $(this)).text(); //this is the selcted drop dwon value
                        $.ajax({
                            url: "groupResult", // use the result function which return a list of objects from query result in controller
                            type: "get", //send it through get method
                            data: {                                
                                group: sentData                                
                            },
                            success: function (response) {
                                var result = '';
                                var head = '';
                                
                                // table head
                                    head +=
                                        '<tr>' +
                                        '<th>' + "Username" + '</th>' +
                                        '<th>' + "count" + '</th>' +                                                                            
                                        '</tr>';
                                $('thead').html(head);

                                // table body
                                $.each(response, function (key, value) {
                                    result +=
                                        '<tr>' +
                                        '<td>' + value.name + '</td>' +
                                        '<td>' + value.count + '</td>' +
                                        '</tr>';
                                    $('tbody').html(result);
                                });
                            },
                            error: function(xhr) {
                                alert("get reuquest error")
                            }
                        });                                                                       
                    });
                }
                else if (radioVal === "join") {
                    groupDiv.hide();
                    joinDiv.show();

                    // this sends a get with slected drop down value
                    $("select[id^='join']").change(function () {                       
                        var sentData = $('option:selected', $(this)).text(); //this is the selcted drop dwon value
                        $.ajax({
                            url: "joinResult", // use the result function which return a list of objects from query result in controller
                            type: "get", //send it through get method
                            data: {                                
                                join: sentData                                
                            },
                            success: function (response) {
                                var head = '';
                                var result = '';
                                //display join with customers
                                if (sentData === "Customers") {

                                    // table head
                                    head +=
                                        '<tr>' +
                                        '<th>' + "order ID" + '</th>' +
                                        '<th>' + "customer Username" + '</th>' +
                                        '<th>' + "order Date"  + '</th>' +
                                        '<th>' + "country" + '</th>' +  
                                        '<th>' + "city" + '</th>' +
                                        '<th>' + "street" + '</th>' +  
                                        '</tr>';
                                    $('thead').html(head);

                                    // table body
                                    $.each(response, function (key, value) {
                                    result +=
                                        '<tr>' +
                                        '<td>' + value.orderID + '</td>' +
                                        '<td>' + value.customerUsername + '</td>' +
                                        '<td>' + value.orderDate + '</td>' +
                                        '<td>' + value.country + '</td>' +  
                                        '<td>' + value.city + '</td>' + 
                                        '<td>' + value.street + '</td>' +  
                                        '</tr>';
                                    $('tbody').html(result);
                                    });
                                }
                                // display join with movies
                                else if (sentData === "Movies") {

                                    // table head
                                    head +=
                                        '<tr>' +
                                        '<th>' + "order ID" + '</th>' +
                                        '<th>' + "movie ID" + '</th>' +
                                        '<th>' + "order Date"  + '</th>' +
                                        '<th>' + "movie name" + '</th>' +
                                        '<th>' + "company" + '</th>' +                                       
                                        '</tr>';
                                    $('thead').html(head);

                                    // tbale body
                                    $.each(response, function (key, value) {
                                    result +=
                                        '<tr>' +
                                        '<td>' + value.orderID + '</td>' +
                                        '<td>' + value.gameID + '</td>' +
                                        '<td>' + value.orderDate + '</td>' +
                                        '<td>' + value.gameName + '</td>' +
                                        '<td>' + value.company + '</td>' +                                       
                                        '</tr>';
                                    $('tbody').html(result);
                                    });
                                }
                                
                            },
                            error: function(xhr) {
                                alert("get reuquest error")
                            }
                        });                                                                       
                    });
                }
            });
        });
    </script>

}

@section Css
{
    
}
