@{
    ViewData["Title"] = "Statistics";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<h2>Orders</h2>

<br />

<input type="radio" name="colorRadio" value="group"> group
<input type="radio" name="colorRadio" value="join"> join

<div id="group" hidden>


    <div class="form-actions no-color">
        <p>
            <br /><br />
            
            @Html.DropDownList("group", new SelectList(ViewBag.group, "Grouped"), "Select Option")
            |
            <a asp-action="Statistics">Clear</a>
        </p>
    </div>


    <div id="groupOutput">
        <table class="table">
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


<div id="join" hidden>


    <div class="form-actions no-color">
        <p>
            <br /><br />
            
            @Html.DropDownList("join", new SelectList(ViewBag.join, "Joined"), "Select Option")
            |
            <a asp-action="Statistics">Clear</a>
        </p>
    </div>



    <table class="table">
        <thead>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section Scripts
{

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>


        var groupDiv = $("#group");
        var joinDiv = $("#join");
        $(document).ready(function () {

            $('input[type="radio"]').click(function () {
                var radioVal = this.value;
                $('tbody').html(null);
                if (radioVal === "group") {
                    joinDiv.hide();
                    groupDiv.show();

                    $("select[id^='group']").change(function () {

                        var sentData = $('option:selected', $(this)).text(); 
                        $.ajax({
                            url: "groupResult",
                            type: "get",
                            data: {
                                group: sentData
                            },
                            success: function (response) {
                                var result = '';
                                var head = '';


                                head +=
                                    '<tr>' +
                                    '<th>' + "Username" + '</th>' +
                                    '<th>' + "count" + '</th>' +
                                    '</tr>';
                                $('thead').html(head);

                                $.each(response, function (key, value) {
                                    result +=
                                        '<tr>' +
                                        '<td>' + value.name + '</td>' +
                                        '<td>' + value.count + '</td>' +
                                        '</tr>';
                                    $('tbody').html(result);
                                });
                            },
                            error: function (xhr) {
                                alert("get reuquest error")
                            }
                        });
                    });
                }
                else if (radioVal === "join") {
                    groupDiv.hide();
                    joinDiv.show();

                    $("select[id^='join']").change(function () {
                        var sentData = $('option:selected', $(this)).text();
                        $.ajax({
                            url: "joinResult",
                            type: "get",
                            data: {
                                join: sentData
                            },
                            success: function (response) {
                                var head = '';
                                var result = '';

                                if (sentData === "Customers") {

                                    head +=
                                        '<tr>' +
                                        '<th>' + "order ID" + '</th>' +
                                        '<th>' + "customer Username" + '</th>' +
                                        '<th>' + "order Date" + '</th>' +
                                        '<th>' + "country" + '</th>' +
                                        '<th>' + "city" + '</th>' +
                                        '<th>' + "street" + '</th>' +
                                        '</tr>';
                                    $('thead').html(head);

                                    $.each(response, function (key, value) {
                                        result +=
                                            '<tr>' +
                                            '<td>' + value.orderID + '</td>' +
                                            '<td>' + value.customerUsername + '</td>' +
                                            '<td>' + value.orderDate + '</td>' +
                                            '<td>' + value.country + '</td>' +
                                            '<td>' + value.city + '</td>' +
                                            '<td>' + value.street + '</td>' +
                                            '</tr>';
                                        $('tbody').html(result);
                                    });
                                }

                                else if (sentData === "Movies") {

                                    head +=
                                        '<tr>' +
                                        '<th>' + "Order ID" + '</th>' +
                                        '<th>' + "Movie ID" + '</th>' +
                                        '<th>' + "Order Date" + '</th>' +
                                        '<th>' + "Movie Name" + '</th>' +
                                        '</tr>';
                                    $('thead').html(head);

                                    $.each(response, function (key, value) {
                                        result +=
                                            '<tr>' +
                                            '<td>' + value.orderID + '</td>' +
                                            '<td>' + value.movieID + '</td>' +
                                            '<td>' + value.orderDate + '</td>' +
                                            '<td>' + value.movieName + '</td>' +
                                            '</tr>';
                                        $('tbody').html(result);
                                    });
                                }

                            },
                            error: function (xhr) {
                                alert("get reuquest error")
                            }
                        });
                    });
                }
            });
        });
    </script>

}