
@{
    ViewData["Title"] = "Sales";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<h1>Sale Updates:</h1>
<br />
<br />
<a class="twitter-timeline" href="https://twitter.com/LandProj/lists/sales-rate?ref_src=twsrc%5Etfw">A Twitter List by LandProj</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>