
@{
    ViewData["Title"] = "Sales";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />   
</head>
<h1>Sale Updates:</h1>
<br />
<br />
<a class="twitter-timeline" href="https://twitter.com/steam_movies?ref_src=twsrc%5Etfw">Tweets by steam_movies</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

