@{
    ViewData["Title"] = "About";
}
<header>
    <h1>This Is The About Page</h1>
</header>
<html>
<body>
    <section>
        <h2>Inspired By Steam (Our Parent Game Tycoon)</h2>

        <aside>
            <div class="pol">
                Steam is a video game digital distribution service platform developed by Valve Corporation. It was launched in September 2003 as a way for Valve to provide automatic updates for their games, but eventually expanded to include games from third-party publishers. Initially launched as a software client component to help keep Valve's games up-to-date, the Steam service has expanded to include web- and mobile-based interfaces for consumers and developers for third-party games.
            </div>
            <p class="rf"><strong>NO REFUNDS :))))))))))))))))))</strong></p>
        </aside>
    </section>
    <div class="box">(｡◕‿‿◕｡)</div>
</body>

</html>

<style>


    .ttl {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
    }

    h1 {
        color: white;
        text-shadow: 2px 2px 8px #000000;
    }

    h2 {
        color: white;
        text-shadow: 3px 3px 7px #000000;
        font-family: myFirstFont;
    }

    .pol {
        -webkit-column-count: 3;
        -webkit-column-gap: 40px;
        -webkit-column-rule: 1px solid black;
        /* Old Firefox */
        -moz-column-count: 3;
        -moz-column-gap: 40px;
        -moz-column-rule: 1px solid black;
        /* Standard Syntax */
        column-count: 3;
        column-gap: 40px;
        column-rule: 1px solid black;
    }

    .rf {
        align-self: center;
        text-align: center;
        border-radius: 25px;
        background: #66ccff;
        padding: 20px;
        width: 1200px;
        height: 100px;
    }

    @@font-face {
        font-family: myFirstFont;
        src: url(sansation_light.woff);
    }

    .box {
        
        text-align: center;
        border-style: solid;
        border-width: 1px;
        display: block;
        width: 100px;       
        margin:0 auto;
        height: 100px;
        background-color: #0000FF;
        transition: width 2s, height 2s, background-color 2s, transform 2s;
    }

    .box:hover {
        background-color: #FFCCCC;
        width: 200px;
        height: 200px;
        transform: rotate(180deg);
    }
</style>
