@{
    ViewBag.Title = "404";
}

<html>
<body>
    <section>
        <h1>404 - Page not found</h1>
        <aside>
            <div class="pol">

            </div>
        </aside>
    </section>
    <div class="box">Oops, better check that URL.</div>
</body>

</html>

<style>
    .box {
        text-align: center;
        border-style: solid;
        border-width: 1px;
        display: block;
        width: 110px;
        margin: 0 auto;
        height: 110px;
        background-color: #03f61f;
        transition: width 3s, height 3s, background-color 3s, transform 3s;
    }

        .box:hover {
            background-color: #c7b5f5;
            width: 200px;
            height: 200px;
            transform: rotate(360deg);
        }
</style>