
body {
    padding-top: 50px;
    padding-bottom: 20px;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}


.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}


#qrCode {
    margin: 15px;
}


@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


#myCanvas {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100%;
}

#background1 {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}