@model MovieLand.Models.Order

@{
    ViewData["Title"] = "Edit";
}
<!--notifying the user the given game id doesnt exist in case he tried to create an order with a wrong game id-->
@if (this.ViewBag.Error2 != null)
{
    <h2>Wrong Game ID!</h2>
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<h2>Edit Order</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderID" />
            <input type="hidden" asp-for="CustomerUsername" />
            <div class="form-group">
                <label asp-for="movieID" class="control-label"></label>
                <input asp-for="movieID" class="form-control" />
                <span asp-validation-for="movieID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" min = "2018-01-01" max = "2020-01-01"/>
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
